.container {
	padding: 10px;
}

.container-button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.button {
	background-color: #84dccf;
	color: white;
	width: 200px;
	height: 40px;
	border: none;
	border-radius: 10px;
	font-size: 20px;
}
